<main class="d-flex justify-center align-items-center flex-column">
  <h1>All tasks</h1>
  <div class="my-10">
    <%= link_to "Add New Task", "tasks/new", class: "btn btn-primary" %>
  </div>
  <%= render @tasks %>
<main>
